<div class="row mt-2">

    <div class="col">
        <div class="py-2 bg-success text-white text-center">
            {{title1}}
        </div>

        <h3>Property Binding</h3>

        <img [src]="link">
            <br>
                <div>
                    <img [src]="bulblink">
                        <button class="btn btn-primary" (click)="changeStatus()">On/Off</button>
                    </div>


                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="message"/>

                    </div>
                    {{message}}

                    <h5>Style Binding</h5>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ip</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let server of servers">
                                <td  [style.color]="server.status?'green':'red'">{{server.ip}}</td>
                                <td><button class="btn" [class]="server.status?'btn-success':'btn-danger'">{{server.status}}</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <div class="col"></div>

        </div>
